@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Hind:wght@300;400;500;600;700&family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Hind:wght@300;400;500;600;700&family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

#root {
    width: 100%;
    overflow-x: scroll;
}

#main {
    width: 709px;
    overflow: hidden;
    padding: 1rem;
}

#main span {
    font-family: "Kalam";
    color: rgb(10, 10, 214);
    font-size: 1rem;
    font-weight: bold;
    padding: 0 10px;
    border: 2px solid #000;
    border-style: dotted;
    border-left: none;
    border-right: none;
    border-top: none;
    white-space: nowrap;
    
    
}

.sign-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#main p {
    font-size: 0.8rem;
    font-weight: 500;
    word-spacing: 3px;
    line-height: 2;
    font-weight: 600;
}

.heading {
    font-size: 1.2rem;
    text-align: center;
    text-decoration: underline;
    margin: 20px 0;
    line-height: 1;
    font-weight: 600;
}

.heading:nth-child(2) {
    font-size: 1rem;
    text-decoration: none;
    margin: 20px 0;
}

#sign {
    width: 150px;
}

@media print {
    #form {
        display: none;
    }
}


@media screen and (min-width: 750px) {
    #root {
        display: flex;
        justify-content: center;
    }
}

/* Styles for large desktops and monitors (min-width: 1200px or 1440px) */
@media screen and (min-width: 1200px) {
    #root {
        display: flex;
        justify-content: center;
    }
}

.btn {
    margin: 10px 0;
}
